<script type="text/javascript" src="/js/raphael-min.js"></script>
<script type="text/javascript" src="/js/g.raphael-min.js"></script>
<script type="text/javascript" src="/js/g.line-min.js"></script>


<div id="graph">
	<form method="get" id="form1">
		<input type="hidden" name="counter" value="$counter">
		<div class="dates">
			<div class="dateFrom">
				<label for="dateFrom">Дата с</label> 
				<input type="date" name="dateFrom" id="dateFrom" value="$dateFrom">
			</div>
			<div class="dateTo">
				<label for="dateTo">Дата по</label>
				<input type="date" name="dateTo" id="dateTo" value="$dateTo">
			</div>
			
		</div>
		<input type="submit" value="Обновить" class="button" id="submit" >
		<div class="buttons">
			<input type="button" value="Часы" class="button" alt="последние 6 часов"  onclick="onClick('hour')">
			<input type="button" value="Сутки" class="button" alt="последние 24 часа"  onclick="onClick('day')">
			<input type="button" value="Неделя" class="button" alt="последние 7 дней"  onclick="onClick('week')">
			<input type="button" value="Месяц" class="button" alt="последние 30 дней"  onclick="onClick('month')">
			<input type="button" value="Год" class="button" alt="последние 365 дней" onclick="onClick('year')">
			<input type="hidden" name="fixedPeriod" value="" id="fixedPeriod">
		</div>
	</form>
	<div id="chart">
	</div>
</div>

<script type="text/javascript">

function onClick(fixedPeriod)
{
	$("fixedPeriod").value = fixedPeriod;
	$("submit").click();
}

function drawChart()
{
	var LEVEL = 3;
	var DATE = 1;
	
	var list = $result;

    var el = $("chart");
    el.innerHTML = '';
   	var r = Raphael(el);
   	var y = [];
   	var x = [];
   	for(i=0; i < list.records.size(); i++ )
   	{
   		y.push(list.records[i][LEVEL]);
   		x.push(new Date(list.records[i][DATE]));
   	}
    // Creates a simple line chart at 10, 10
    // width 300, height 220
    // x-values: [1,2,3,4,5], y-values: [10,20,15,35,30]
    lines = r.linechart(20,20,el.getWidth()-30,el.getHeight()-100,x,y, {axis:"0 0 1 1", axisystep: 20});
    lines.axis[1].text.attr({font:"16pt Arial"});
    lines.axis[0].text.attr({font:"16pt Arial"});
    lines.axis[0].text.items.each( function ( label, index ) {
        //Get the timestamp you saved
        var originalText = label.attr('text');
        var originalY = label.attr('y');
        var date = new Date(parseInt(originalText))
        label.rotate(20);
        label.attr({'text': date.toLocaleString(), 'y': originalY+30 });
      });

};

new PeriodicalExecuter( drawChart, 0.1 );
</script>
