<form action="/history" method="get">
##<a href="/">Вернуться</a>
<font size="+1">СП-$id</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font size="+1">Дата</font>&nbsp;<select name="day" onchange="this.form.submit()">
#foreach ( $d in $days )
<option value="$d" #if ( $d == $day ) selected #end>$d</option>
#end

</select>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
##<font size="+1">Полная: </font><input type="checkbox" name="full" #if ( $full ) checked #end onclick="this.form.submit()">
##<input type="submit" value="Показать">
<input type="hidden" name="id" value="$id">
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/connections?id=$id">C</a>
</form>
##$ch.id: $!ch.name

#macro( htablehead )
<tr>
	<th>Время
	<th colspan="3">Ст
	<th>Бак
	<th colspan="6">НА1
	<th colspan="6">НА2
	<th colspan="6">НА3
	<th colspan="6">НА4
	<th>
</tr>
#end

<table>

#set ( $cnt = 0 )
#foreach( $r in $list )
<tr>
	#if ( $cnt % 32 == 0 )
		#htablehead
	#end
	#set ( $cnt = $cnt + 1 )
	<td class="list" nowrap>$_tf.format( $r.Date )</td>
	<td class="list">#if ( $r.VoltageOK ) &nbsp; #else <span style="color: red">VF</span> #end
	<td class="list">#if ( $r.Failure ) <span style="color: red">F</span> #else &nbsp; #end
	<td class="list">#if ( $r.AutomaticMode ) АР #else РР #end
	<td class="list">
		<span #if ( $r.Tank.LevelFail ) style="color: red" #end>
			#set ( $level = $r.Tank.Level * 25 )
			$level
		</span>
	#foreach ( $pump in $r.Pumps )
		#if ( $pump )
			<td class="list">#if ( $pump.ManualMode ) РР #else &nbsp; #end
			<td class="list">#if ( $pump.AutomaticMode ) АР #else &nbsp; #end
			<td class="list">#if ( $pump.Working ) Р #else &nbsp; #end
			<td class="list">#if ( $pump.Failure ) <span style="color: red">F</span> #else &nbsp; #end
			<td class="list">#if ( $pump.EngineFailure ) <span style="color: red">EF</span> #else &nbsp; #end
			<td class="list">#if ( $pump.StartFailure ) <span style="color: red">SF</span> #else &nbsp; #end
		#else
			<td class="list" colspan="6">&nbsp;
		#end
	#end
</tr>
#end
#if ( $cnt == 0 )
	#htablehead
#end
</table>
