#macro ( gotourl $id, $type, $period )
"/graphs?id=$id&type=$type&period=$period"
#end

<form action="graphs" method="get">
<table width="1800px">
<tr class="list">
	<td width="100px" class="tabsel"><a href="/table" class="tab">Таблица</a>
	<td width="50px">
	<td width="120px" class=#if ( $type == "t" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $ch.id, "t", $period) class="tab">Бак</a>
	<td width="120px" class=#if ( $type == "v" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $ch.id, "v", $period) class="tab">Напряжения</a>
	<td width="120px" class=#if ( $type == "l" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $ch.id, "l", $period) class="tab">Токи</a>
	<td>
	<td width="80px" class=#if ( $period == "h" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $ch.id, $type, "h") class="tab">Часы</a>
	<td width="80px" class=#if ( $period == "d" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $ch.id, $type, "d") class="tab">Сутки</a>
	<td width="80px" class=#if ( $period == "w" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $ch.id, $type, "w") class="tab">Неделя</a>
	<td width="80px" class=#if ( $period == "m" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $ch.id, $type, "m") class="tab">Месяц</a>
	<td width="80px" class=#if ( $period == "y" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $ch.id, $type, "y") class="tab">Год</a>
<tr><td>&nbsp;
#foreach ( $cch in $channels )
	<tr>
	<td width="100px" height="24px" class=#if ( $cch == $ch.id )"tabsel"#else"tab"#end>
		<a href=#gotourl( $cch, $type, $period) class="tab">СП-$cch</a>
	#if ( $velocityCount == 1 )
		#set ( $rspan = $channels.size() + 1 )
		<td colspan="10" rowspan="$rspan" valign="top">
		#if ( $type == "t" )
			#if ( $tank )
			Бак<br>
			<img src="/rrd?id=$ch.id&period=$period"><br><br>
			#end
		#elseif ( $type == "v" )
			#foreach ( $p in $pumps )
			#set ( $pp = $p + 1 )
			НА $pp<br>
			<img src="/rrd?id=$ch.id&period=$period&pump=$p"><br><br>
			#end
		#elseif ( $type == "l" )
			#foreach ( $p in $pumps )
			#set ( $pp = $p + 1 )
			НА $pp<br>
			<img src="/rrd?id=$ch.id&period=$period&pump=$p&type=111"><br><br>
			#end
		#end
	#end
#end
<tr><td>&nbsp;
</table>
<input type="hidden" name="id" value="$ch.id">
<input type="hidden" name="type" value="$type">
<input type="hidden" name="period" value="$period">
</form>