#macro ( gotourl $type, $period )
"/graphslevel?type=$type&period=$period"
#end

<form action="graphslevel" method="get">
<table width="1800px">
<tr class="list">
	<input type="date" name="calendar">
	<input type="button" value="Graphs" onclick="var newtab = window.open( #gotourl( $type, "1") , 'ggsm-vkr-2' )" style="width: 160px"><br><br>
	<td width="80px" class=#if ( $period == "h" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $type, "h") class="tab">Hour</a>
	</td>	
	<td width="80px" class=#if ( $period == "d" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $type, "d") class="tab">Day</a>
	</td>			
	<td width="80px" class=#if ( $period == "w" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $type, "w") class="tab">Week</a>
	</td>			
	<td width="80px" class=#if ( $period == "m" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $type, "m") class="tab">Month</a>
	</td>			
	<td width="80px" class=#if ( $period == "y" )"tabsel"#else"tab"#end>
		<a href=#gotourl( $type, "y") class="tab">Year</a>
	</td>			
	</tr>
	<tr>
	<td width="100px" height="124px" class="tabsel>
			<!-- <img src="/rrdlevel?&period=$period"> 			-->
			$attrGraphImgInfo
	</td>		
</tr>
</table>
<input type="hidden" name="type" value="$type">
<input type="hidden" name="period" value="$period">
</form>