<a href="/sett/">Вернуться</a>
<table>
<tr><th>Логин<th>Имя</tr>
#foreach( $op in $ops )
<tr>
<td class="list">$op.login</td>
<td class="list">$!op.name</td>
<td><a href="op.edit?login=$op.login">Ред</a></td>
</tr>
#end
</table>
<a href="op.edit">Добавить</a></td>
