<a href="/sett/">Вернуться</a>
<table>
<tr><th>#<th>Тип<th>НА1<th>НА2<th>НА3<th>НА4
#foreach( $ci in $cis )
<tr>
<td class="list"><a href="ch.edit?id=$ci.id">$ci.id</a></td>
<td class="list">$ci.Type.Name</td>
#foreach( $p in [0..3] )
	#set ( $state = $ci.getPumpState( $p ).id() )
	<td class="list">
	#if ( $state == 0 )
	#elseif ( $state == 1 )
		<span style="color:red">Выключен</span>
	#elseif ( $state == 2 )
		<span style="color:green">Включен</span>
	#end
#end
</tr>
#end
</table>
