#macro ( outAvg $avg )
	<td class="list" align="right">#if ( $avg.Tank ) $_ff1.format( $avg.Tank.Level ) #end
	#foreach ( $pump in $avg.Pumps )
		<td class="list" align="right">#if ( $pump.V > 0 ) $pump.V #end
		<td class="list" align="right">#if ( $pump.L1 > 0 ) $pump.L1 #end
		<td class="list" align="right">#if ( $pump.L2 > 0 ) $pump.L2 #end
		<td class="list" align="right">#if ( $pump.L3 > 0 ) $pump.L3 #end
	#end
#end

<table width="1800px" style="border: 1px solid black; border-collapse:collapse;">
<tr class="list"><th rowspan="4" class="list">
	<th colspan="17" class="list">Минута<th colspan="17" class="list">Час<th colspan="17" class="list">Сутки
<tr class="list">
	#foreach ( $d in [0..2] )
		<th rowspan="3">Бак
		#foreach ( $p in [1..4] ) <th class="list" colspan="4">Насос $p #end
	#end
<tr class="list">
	#foreach ( $d in [0..2] )
		#foreach ( $p in [1..4] )
			<th rowspan="2" class="list">U, В
			<th colspan="3" class="list">I, A
		#end
	#end
<tr class="list">
	#foreach ( $d in [0..2] )
		#foreach ( $p in [1..4] )
			#foreach ( $l in [1..3] ) <th class="list">L$l #end
		#end
	#end
#foreach ( $ch in $channels )
<tr class="list"><td class="list"><a href="/graphs?id=$ch.id" style="display: inline-block; height:100%; width:100%;">СП-$ch.id
#outAvg($ch.ByMinAvg)
#outAvg($ch.ByHourAvg)
#outAvg($ch.ByDayAvg)
#end
</table>