<script type="text/javascript" src="/js/howler.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>

<script type="text/javascript" src="/js/raphael-min.js"></script>
<script type="text/javascript" src="/js/g.raphael-min.js"></script>
<script type="text/javascript" src="/js/g.line-min.js"></script>

<table id="main">
	<tr class="all">
		<td class="column"></td>
		<td class="column" id="central_column">
			<div class="centre">
				<div class="power"></div>
				<div class="general_alert"></div>
			</div>
		</td>
		<td class="column">
			<div class="voice"></div>
		</td>
	</tr>
	<tr> 
		<td class="column" id="column1">
			<div class="title">РАСХОДОМЕР ХЛОРГАЗ 1</div>
			<div class="image" id="image1"></div>
			<div class="indicators">
				<div class="level"><div class="value" id="value1">-1</div></div>
				<div class="power"></div>
				<div class="error"></div>
				<div class="journal"><button type="button" onclick="onClickJournal(1)">ЖУРНАЛ</button></div>
				<div class="open"><button type="button" onclick="onClickExpand(1)">РАЗВЕРНУТЬ</button></div>
			</div>
			<div class="graph" id="chart1">
			</div>
		</td>
		<td class="column" id="column2">
			<div class="title">РАСХОДОМЕР ХЛОРГАЗ 2</div>
			<div class="image" id="image2"></div>
			<div class="indicators">
				<div class="level"><div class="value" id="value2">-1</div></div>
				<div class="power"></div>
				<div class="error"></div>
				<div class="journal"><button type="button" onclick="onClickJournal(2)">ЖУРНАЛ</button></div>
				<div class="open"><button type="button" onclick="onClickExpand(2)">РАЗВЕРНУТЬ</button></div>
			</div>
			<div class="graph" id="chart2">
			</div>
		</td>
		<td class="column" id="column3">
			<div class="title">РАСХОДОМЕР ГИПОХЛОРИТ</div>
			<div class="image"><div class="value" id="value3">-1</div></div>
			<div class="indicators">
				<div class="level hidden"></div>
				<div class="power"></div>
				<div class="error"></div>
				<div class="journal"><button type="button" onclick="onClickJournal(3)">ЖУРНАЛ</button></div>
				<div class="open"><button type="button" onclick="onClickExpand(3)">РАЗВЕРНУТЬ</button></div>
			</div>
			<div class="graph" id="chart3">
			</div>
		</td>
	</tr>
</table>
