<form action="/connections" method="get">
##<a href="/">Вернуться</a>
<font size="+1">>СП-$id</font>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font size="+1">Дата</font>&nbsp;<select name="day" onchange="this.form.submit()">
#foreach ( $d in $days )
<option value="$d" #if ( $d == $day ) selected #end>$d</option>
#end
</select>
<input type="hidden" name="id" value="$id">
</form>
##$ch.id: $!ch.name

#macro( ctablehead )
<tr>
	<th>Время</th>
	<th>Парам.</th>
</tr>
#end

<table>

#set ( $cnt = 0 )
#foreach( $r in $list )
<tr>
	#if ( $cnt % 32 == 0 )
		#ctablehead
	#end
	#set ( $cnt = $cnt + 1 )
	<td class="list" nowrap>$_tf.format( $r.Date )</td>
	<td class="list" nowrap>
		#foreach ( $p in $r.Parameters )
			$p.parameter = $p.value
		#end
	</td>
</tr>
#end
#if ( $cnt == 0 )
	#ctablehead
#end
</table>
