<div id="journal">
	<div id="filters">
		<form method="get">
			<div class="dates">
				<div class="dateFrom">
					<label for="dateFrom">Дата с</label>
					<input type="date" name="dateFrom" id="dateFrom" value="$dateFrom">
					<label for="timeFrom">Время с</label>
					<input type="time" name="timeFrom" id="timeFrom" value="$timeFrom">
				</div>
				<div class="dateTo">
					<label for="dateTo">Дата по</label>
					<input type="date" name="dateTo" id="dateTo" value="$dateTo">
					<label for="timeTo">Время по</label>
					<input type="time" name="timeTo" id="timeTo" value="$timeTo">
				</div>
			</div>
			<div class="buttons">
				<input type="submit" value="Обновить" class="button"><br/>
				<input type="button" value="Печать" class="button" onclick="window.print();">
			</div>
			
			
			<div id="counters">
				<label for="c[0]">Хлоргаз 1</label>
				<input type="checkbox" name="counter1" value="checked" id="c[0]" $counter1 >
				
				<label for="c[1]">Хлоргаз 2</label>
				<input type="checkbox" name="counter2" value="checked" id="c[1]" $counter2 >
				
				<label for="c[2]">Гипохлорид</label>
				<input type="checkbox" name="counter3" value="checked" id="c[2]" $counter3 >
			</div> 
			
			<div id="states">
				<label for="s[0]">Расход</label>
				<input type="checkbox" name="state0" value="checked" id="s[0]" $state0>
				
				<label for="s[1]">Питание</label>
				<input type="checkbox" name="state1" value="checked" id="s[1]" $state1>
				
				<label for="s[2]">Авария</label>
				<input type="checkbox" name="state2" value="checked" id="s[2]" $state2>
			</div>
		</form>
	</div>
	<table border="1">
	<tr><th>Расходомер</th><th>Дата-время</th><th>Расход</th><th>Описание события</th></tr>
	
	#foreach( $r in $result )
	<tr>
		<td>$r.counterId</td>
		<td>$_dtf.format( $r.date )</td>
		<td>$r.level</td>
		<td>???</td>
	</tr>
	#end
	
	</table>
</div>