#if ( $ch  )
<a href="/view-$ch.type.name?id=$ch.id">Вернуться</a>&nbsp;&nbsp;
<font size="+1">Журнал по СП-$ch.id</font>
#else
<font size="+1">Журнал</font>
#end

#macro( jtablehead )
<tr>
	<th>Ст.
	<th>Время
	<th>Тип
	<th>Аварии
</tr>
#end

<table>
#foreach( $r in $list )
	#if ( $velocityCount % 32 == 1 )
		#jtablehead
	#end
	<tr>
	<td class="list" nowrap>$r.Id</td>
	<td class="list" nowrap>$_dtf.format( $r.Date )</td>
	<td class="list">#if ( $r.Submit ) Подтв. $r.Operator #else авария #end
	<td class="list">
		#if ( $r.Alert.Sys.VoltageFailure ) Напряжение 1 #end
		#if ( $r.Alert.Sys.Voltage2Failure ) Напряжение 2 #end
		#if ( $r.Alert.Sys.Failure ) Авария станции #end
		#if ( $r.Alert.Sys.AdjPressed ) Нажат грибок #end
		#if ( $r.Alert.Sys.ConnectFailure ) Нет связи по GMS #end
		#if ( $r.Alert.Sys.ConnectOK ) Есть связь по GMS #end
		#if ( $r.Alert.Tank.Failure ) Авария бака #end
		#if ( $r.Alert.Tank.Level >= 0 ) Уровень бака $r.Alert.Tank.Level #end
		#set ( $pn = 0 )
		#foreach ( $p in $r.Alert.Pumps )
			#set ( $pn = $pn + 1 )
			#if ( $ch.type.name == "zelio" )
				#if ( $p.EngineFailure ) Авария двигателя $pn #end
				#if ( $p.StartFailure ) Авария ПП $pn #end
			#else 
				#if ( $p.Failure ) Состояние ПП $pn: Авария #end
				#if ( $p.EngineFailure ) Авария РТС $pn #end
				#if ( $p.StartFailure ) Авария ПП $pn #end
				#if ( $p.HoursCounterOverflow ) Первышение счетчика моточасов $pn #end
				#if ( $p.QFFailure ) Авария автомата QF $pn #end
				#if ( $p.Modbus0Failure ) Авария связи с ПП $pn #end
				#if ( $p.Modbus1Failure ) Состояние ПП $pn: Нет связи #end
				#if ( $p.Modbus2Failure ) Режим работы $pn: Нет связи #end
			#end
		#end
</tr>
#end
#if ( $list.size() == 0 )
	#jtablehead
#end
</table>
