@font-face
{
	font-family: 'Lets go Digital Regular';
	src: url(../lets-go-digital-regular.ttf);
}

#main 
{
	width: 100%;
	min-width:1px; 
	background-color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#main .column
{
	width: 33%;
    text-align: center;
    padding-left: 40px;
	padding-right: 40px;
}

#main .image, #main .image.l0
{
	background-image: url(../img/rhg0.png);
	background-repeat: no-repeat;
	float: left;
	height: 379px;
	width: 236px;
}

#main .image.l10
{
	background-image: url(../img/rhg10.png);
}

#main .image.l20
{
	background-image: url(../img/rhg20.png);
}

#main .image.l30
{
	background-image: url(../img/rhg30.png);
}

#main .image.l40
{
	background-image: url(../img/rhg40.png);
}

#main .image.l50
{
	background-image: url(../img/rhg50.png);
}

#main .image.l60
{
	background-image: url(../img/rhg60.png);
}

#main .image.l70
{
	background-image: url(../img/rhg70.png);
}

#main .image.l80
{
	background-image: url(../img/rhg80.png);
}

#main .image.l90
{
	background-image: url(../img/rhg90.png);
}

#main .image.l100
{
	background-image: url(../img/rhg100.png);
}

#main .image.l110
{
	background-image: url(../img/rhg110.png);
}

#main #column3 .image
{
	background-image: url(../img/rgh.png);
	width: 337px;
}

#main .hidden
{
	visibility: hidden;
}

#main .indicators div
{
	width: 148px;
	height: 103px;
}

#main .level
{
	background-image: url(../img/rhgreg.png);
	background-repeat: no-repeat;
/* 	height: 103px; */
/* 	width: 148px; */
}


#main .power, #main .power .off
{
	background-image: url(../img/rhgvoff.png);
	background-repeat: no-repeat;
}

#main .power.on
{
	background-image: url(../img/rhgvon.png);
}


#main .error, #main .error.on 
{
	background-image: url(../img/rhgfon.png);
	background-repeat: no-repeat;
}

#main .error.off
{
	background-image: url(../img/rhgfoff.png);
}

#main .indicators
{
	float: right;
}

#main .journal
{
	height: 36px;
}

#main .journal button, #main .open button
{
	height: 36px;
	width: 148px;
	font-size: 15pt;
}

#main .indicators div.journal , #main .indicators div.open
{
	height: 36px;
}

#main .graph
{
	clear: both;
}

#main .indicators div
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#main .main_indicators
{
	text-align: center;
	display: inline;
}

#main .main_indicators img
{
	visibility: hidden;
}

#main .main_indicators div
{
	display: inline;
}


#main .title
{
	font-family: "Courier New", Courier, monospace;
	font-size: 30pt;
	padding-bottom: 20px;
}

#main .all .power, #main .all .power.off
{
	background-image: url(../img/topvoff.png);
	background-repeat: no-repeat;
	width: 111px;
	height: 78px;
	float: left;
}

#main .all .power.on
{
	background-image: url(../img/topvon.png);
}


#main .all .general_alert, #main .all .general_alert.off
{
	background-image: url(../img/toplloff.png);
	background-repeat: no-repeat;
	width: 111px;
	height: 78px;
	float: left;
}

#main .all .general_alert.on
{
	background-image: url(../img/topllon.png);
}

#main .all #central_column
{
	padding-left: 215px;
}

#main .all #central_column div div
{
	padding-right: 10px;
	padding-left: 10px;
}


#main .all .voice, #main .all .voice.off
{
	background-image: url(../img/topsoff.png);
	background-repeat: no-repeat;
	width: 111px;
	height: 78px;
	float: right;
}

#main .all .voice.on
{
	background-image: url(../img/topson.png);
}

#main .image .value, 
#main .level .value
{
	font-family: 'Lets go Digital Regular';
	font-size: 50pt;
	text-align: right;
	position: relative;
}

#main .image .value
{
	top: 143px;
	right: 122px;
}

#main .level .value
{
	right: 25px;
	top: -2px;
}