<form action="op.edit" method="post">
<table>
<tr><td class="list">Логин</td><td>
	#if ( $op.login )
	<input type="hidden" name="login" value="$op.login">$op.login
	#else
	<input name="login" value="">
	#end
</td></tr>
<tr><td class="list">Имя</td><td><input name="name" value="$!op.name" size="20"></td></tr>
<tr><td class="list">Пароль</td><td><input name="passwd" value="$!op.passwd" size="20"></td></tr>
<tr><td colspan="2">
	#if ( $op.login )
	<input type="button" value="Удалить" onclick="if ( confirm( 'Уверены?' ) ) { this.form.action='/sett/op.delete';this.form.submit(); }">
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	#end
	<input type="submit" value="Сохранить">
	<input type="button" value="  Отмена " onclick="window.location='op.list'">
</table>
</form>
