<script type="text/javascript">
	function setVisible( elname, value ) {
		if ( value ) {
			$(elname+'1').show();
			$(elname+'0').hide();
		} else {
			$(elname+'1').hide();
			$(elname+'0').show();
		}
	}
	function setEnabled( elname, value ) {
		$('cmd_'+elname).disabled = !value;
	}
	function refreshStatus(pe) {
		new Ajax.Request('/status?json=1&id=$ch.id', {
			method:'get',
			onSuccess: function(transport){
				var status = transport.responseText.evalJSON();
				$('link').writeAttribute( 'src', 'img/flag-small-link-'+(status.connected?'on':'off')+'.png' );
				if ( status.msg ) {
					var tank = '0';
					if ( status.msg.tank.failure ) {
						tank = 'fail';
					} else {
						tank = ''+status.msg.tank.level;
					}
					$('tank').writeAttribute( 'src', 'img/tank-small-'+tank+'.png' );
					
					for ( var p=0; p<4; p++ ) {
						var state = 'none';
						if ( status.msg.pumps[p] ) {
							var pump = status.msg.pumps[p];
							if ( pump.failure ) {
								state = 'fail';
							} else if ( pump.working ) {
								state = 'on';
							} else {
								state = 'off';
							}
						}
						$('pump'+p).writeAttribute( 'src', 'img/pump-small-'+state+'.png' );
					}
					//document.body.style.backgroundColor = ( status.msg.failure ? 'red' : '#009999' );
				}
				document.body.style.backgroundColor = ( status.submit_required ? 'red' : '#009999' );
			}
		});
	}
	function refreshStatusFirst(pe) {
		refreshStatus(pe);
		pe.stop();
		new PeriodicalExecuter( refreshStatus, 5 );
	}
	new PeriodicalExecuter( refreshStatusFirst, 0.1 );
</script>
<script type="text/javascript">
	function cmdSetpoint(form) {
		var sp = parseFloat(form.setpoint.value);
		if ( sp > 0 && sp < 25.51) {
			form.setpoint.value = sp;
			form.cmd.value='setpoint';
			form.submit();
		} else {
			alert( 'Неверное значения уставки' );
		}
	}
	function cmdStart(form) {
		form.cmd.value='start';
		form.submit();
	}
	function cmdStop(form) {
		form.cmd.value='stop';
		form.submit();
	}
	function cmdSubmit(form) {
		form.cmd.value='submit';
		form.submit();
	}

#if ( $ch.getPumpState(2).id() == 0 && $ch.getPumpState(3).id() == 0 )
	#set ( $backgroundImage = "img/pipes-small-12.png" )
#elseif ( $ch.getPumpState(3).id() == 0 )
	#set ( $backgroundImage = "img/pipes-small-123.png" )
#elseif ( $ch.getPumpState(0).id() == 0 && $ch.getPumpState(1).id() == 0 )
	#set ( $backgroundImage = "img/pipes-small-34.png" )
#else
	#set ( $backgroundImage = "img/pipes-small-1234.png" )
#end
	document.body.style.backgroundImage = 'url($backgroundImage) ';
	##background-attachment: local;
	##background-repeat:no-repeat
</script>

<form action="/execute" method="post">
<span style="width:88px; position:fixed; top: 10px; left: 10px"><center><b><font size="+2">СП-$ch.id</font></b></center></span>
<!--<input type="button" value="История" onclick="var newtab = window.open(); newtab.location='/history?id=$ch.id'" style="width: 120">-->
<img id="tank" src="img/tank-small-0.png" style="position:fixed; top: 40px; left: 10px">
<img #if ( $ch.getPumpState(0).id() == 0 ) style="display:none" #end id="pump0" src="img/pump-small-none.png" style="position:fixed; top: 176px; left :150px">
<img #if ( $ch.getPumpState(1).id() == 0 ) style="display:none" #end id="pump1" src="img/pump-small-none.png" style="position:fixed; top: 176px; left :312px">
<img #if ( $ch.getPumpState(2).id() == 0 ) style="display:none" #end id="pump2" src="img/pump-small-none.png" style="position:fixed; top: 59px; left: 150px">
<img #if ( $ch.getPumpState(3).id() == 0 ) style="display:none" #end id="pump3" src="img/pump-small-none.png" style="position:fixed; top: 59px; left: 312px">
<img id='link' src="img/flag-small-link-off.png" style="position:fixed; top: 10px; left: 385px">
<input type="hidden" name="id" value="$ch.id">
</form>
